.admin-dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  
  /* Dynamic content area */
  .dashboard-content {
    margin-left: 250px; /* This should match the sidebar width */
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa; /* Light background color for contrast */
  }
  
  /* Adjustments for better mobile responsiveness */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .dashboard-content {
      margin-left: 0;
    }
  }
  
  /* Additional styles for menu items in the sidebar for better interaction */
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #495057; /* Slightly darker shade for hover effect */
  }
  