.scoring-view {
  max-width: 600px; /* Limiting the width for a better structure */
  margin: auto; /* Centering the container */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Modern font */
  color: #333; /* Readable text color */
  background-color: #fff; /* White background */
  padding: 80px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.project-item {
  background-color: #f9f9f9;
  padding: 1.5rem; /* Increased padding for more space inside each project box */
  margin-bottom: 1.5rem; /* Increased margin-bottom for space between project boxes */
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); /* Smooth shadow for each project box */
}

h1 {
  color: #4CAF50; /* Adding a color accent to headings */
  text-align: center; /* Center aligning the main title */
  margin-bottom: 30px; /* More space below the heading */
}

h2 {
  border-bottom: 1px solid #eee; /* Separator for project title */
  padding-bottom: 10px;
  margin-bottom: 20px; /* Space after project title */
  color: #333; /* Title color */
}

.criteria-item label {
  display: block; /* Making the label a block to influence width */
  margin-bottom: 5px; /* Space between label and input */
}

.criteria-item input[type="number"] {
  width: 100%; /* Full width inputs */
  padding: 8px; /* Larger click area and better readability */
  border: 1px solid #ccc; /* Subtle border styling */
  border-radius: 4px; /* Rounded corners for input fields */
  margin-bottom: 15px; /* Space below each input */
}

Scoring-button {
  width: 100%; /* Full width button */
  background-color: #4CAF50; /* Green background for buttons */
  color: white; /* White text for buttons */
  border: none; /* No border */
  padding: 10px 15px; /* Padding for larger button area */
  border-radius: 4px; /* Rounded corners for buttons */
  cursor: pointer; /* Cursor indication for clickable button */
  font-weight: bold; /* Bold font for button text */
  margin-top: 10px; /* Space above the button */
  transition: background-color 0.2s; /* Smooth background transition for hover */
}

button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}
