body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgb(56, 54, 54);
  height: 40px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 75px;
  display: flex;
  align-items: center;
  border-bottom: solid;
  border-width: 2px;
}
.navbar-logo {
  color: black;
}
.navbar-links{
  margin-left: auto;
  font-size: 16px;
}
.navbar a {
  font-size: 16px;
  margin-left: 50px;
  color: black;
  text-decoration: none;
}
.navbar a:hover {
  color: #f1a635;
}

.input-field input,
.input-field select,
.input-field textarea {
  display: block;
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  margin-top: 5px; /* Spacing between label and input field */
  margin-bottom: 15px; /* Spacing between input fields */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow for depth */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for interactive states */
}

.input-field input:focus,
.input-field select:focus,
.input-field textarea:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #007bff; /* Highlight color for focus state */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 123, 255, 0.6); /* Enhanced shadow for focus */
}

.input-field textarea {
  resize: vertical; /* Allows vertical resize only */
}
